<lift:surround with="default" at="content">
  <div>
    <div class="lift:embed?what=/templates-hidden/navigation/carousel" />
  </div>
  <div>&nbsp;</div>
  <div class="lift:embed?what=/templates-hidden/users/_login" />
</lift:surround>