<lift:surround with="base" at="htmlBody">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="lift:embed?what=/templates-hidden/navigation/navbar" />
    </nav>

    <div class="container theme-showcase" role="main">
    <lift:bind name="content" />

</lift:surround>
