body {
  padding-top: 70px;
  padding-bottom: 30px;

  font-size: 16px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.btn {
  font-size: 16px;
}

.form-control {
  font-size: 16px;
}

.bulk-actions .btn {
  margin-bottom: 10px;
}