<lift:surround with="default" at="content">
  <div>
    <div class="lift:embed?what=/templates-hidden/navigation/carousel" />
  </div>
  <div>&nbsp;</div>

  <h2>
    404:  The requested resource was not found.
  </h2>

</lift:surround>